Playbooks/Sync-IncidentsWithJIRA/Playbooks/Sync-Incidents.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Sync-Incidents",
            "type": "string"
        },
        "SecretName Jira" : {
            "type": "String",
            "metadata" : {
                "description" : "Name of the Key Vault Secret that contains the Jira Secret"
            }
        },
        "UserName Jira" : {
            "type": "String",
            "metadata" : {
                "description" : "Username for JIRA Authentication"
            }
        },
        "JIRA API URL" : {
            "type": "String",
            "metadata" : {
                "description" : "Organization specific URL for API (https://company.atlassian.net/rest/api/3/issue/)"
            }
        },
        "Tenant ID": {
            "type": "String",
            "metadata" : {
                "description" : "Tenant ID for used service principals"
            }
        },
        "Keyvault Name": {
            "type": "String",
            "metadata" : {
                "description" : "Name of the Key Vault which stores the client secrets"
            }
        },
        "ClientID KeyVault SP": {
            "type": "String",
            "metadata" : {
                "description" : "Client ID of the Key Vault Service Principal"
            }
        },
        "ClientSecret KeyVault SP": {
            "type": "String",
            "metadata" : {
                "description" : "Client Secret of the Key Vault Service Principal"
            }
        },
        "ClientID Sentinel SP": {
            "type": "String",
            "metadata" : {
                "description" : "Client ID of the Sentinel Service Principal"
            }
        },
        "ClientSecret Sentinel SP": {
            "type": "String",
            "metadata" : {
                "description" : "Client Secret of the Sentinel Service Principal"
            }
        }
    },
    "variables": {
        "AzureKeyVaultConnectionName" : "[concat('azurekeyvault-', parameters('PlaybookName'))]",
        "SentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureKeyVaultConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[variables('AzureKeyVaultConnectionName')]",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/keyvault')]"
                },
                "parameterValues":{
                    "vaultName": "[parameters('Keyvault Name')]",
                    "token:clientID" : "[parameters('ClientID KeyVault SP')]",
                    "token:clientSecret" : "[parameters('ClientSecret KeyVault SP')]",
                    "token:TenantID" : "[parameters('Tenant ID')]",
                    "token:grantType" : "client_credentials",
                    "token:resourceUri" : "https://vault.azure.net"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('SentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[variables('SentinelConnectionName')]",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                },
                "parameterValues":{
                    "token:clientID" : "[parameters('ClientID Sentinel SP')]",
                    "token:clientSecret" : "[parameters('ClientSecret Sentinel SP')]",
                    "token:TenantID" : "[parameters('Tenant ID')]",
                    "token:grantType" : "client_credentials",
                    "token:resourceUri" : "https://management.azure.com/"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AzureKeyVaultConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('SentinelConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "actions": {
                        "Switch_2": {
                            "cases": {
                                "Case": {
                                    "actions": {
                                        "Add_comment_to_incident_(V3)": {
                                            "inputs": {
                                                "body": {
                                                    "incidentArmId": "@triggerBody()?['issue']?['fields']?['customfield_11513']",
                                                    "message": "<p>@{triggerBody()?['comment']?['body']}</p>"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/Incidents/Comment"
                                            },
                                            "runAfter": {},
                                            "type": "ApiConnection"
                                        }
                                    },
                                    "case": "issue_commented"
                                }
                            },
                            "default": {
                                "actions": {
                                    "Switch": {
                                        "cases": {
                                            "Case": {
                                                "actions": {
                                                    "Update_incident_2": {
                                                        "inputs": {
                                                            "body": {
                                                                "incidentArmId": "@triggerBody()?['issue']?['fields']?['customfield_11513']",
                                                                "owner": "@{triggerBody()?['issue']?['fields']?['assignee']?['emailAddress']}",
                                                                "ownerAction": "Assign",
                                                                "status": "New"
                                                            },
                                                            "host": {
                                                                "connection": {
                                                                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                                }
                                                            },
                                                            "method": "put",
                                                            "path": "/Incidents"
                                                        },
                                                        "runAfter": {},
                                                        "type": "ApiConnection"
                                                    }
                                                },
                                                "case": "Open"
                                            },
                                            "Case_2": {
                                                "actions": {
                                                    "Update_incident_3": {
                                                        "inputs": {
                                                            "body": {
                                                                "incidentArmId": "@triggerBody()?['issue']?['fields']?['customfield_11513']",
                                                                "owner": "@{triggerBody()?['issue']?['fields']?['assignee']?['emailAddress']}",
                                                                "ownerAction": "Assign",
                                                                "status": "Active"
                                                            },
                                                            "host": {
                                                                "connection": {
                                                                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                                }
                                                            },
                                                            "method": "put",
                                                            "path": "/Incidents"
                                                        },
                                                        "runAfter": {},
                                                        "type": "ApiConnection"
                                                    }
                                                },
                                                "case": "Work in progress"
                                            },
                                            "Case_3": {
                                                "actions": {
                                                    "Update_incident": {
                                                        "inputs": {
                                                            "body": {
                                                                "classification": {
                                                                    "ClassificationAndReason": "@{triggerBody()?['issue']?['fields']?['customfield_11503']['value']}",
                                                                    "ClassificationReasonText": "@{triggerBody()?['issue']?['fields']?['customfield_11502']}"
                                                                },
                                                                "incidentArmId": "@triggerBody()?['issue']?['fields']?['customfield_11513']",
                                                                "owner": "@{triggerBody()?['issue']?['fields']?['assignee']?['emailAddress']}",
                                                                "ownerAction": "Assign",
                                                                "status": "Closed"
                                                            },
                                                            "host": {
                                                                "connection": {
                                                                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                                }
                                                            },
                                                            "method": "put",
                                                            "path": "/Incidents"
                                                        },
                                                        "runAfter": {},
                                                        "type": "ApiConnection"
                                                    }
                                                },
                                                "case": "Completed"
                                            }
                                        },
                                        "default": {
                                            "actions": {}
                                        },
                                        "expression": "@triggerBody()?['issue']?['fields']?['status']?['name']",
                                        "runAfter": {},
                                        "type": "Switch"
                                    }
                                }
                            },
                            "expression": "@triggerBody()?['issue_event_type_name']",
                            "runAfter": {},
                            "type": "Switch"
                        }
                    },
                    "contentVersion": "1.0.0.0",
                    "outputs": {},
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "changelog": {
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "items": {
                                                    "items": {
                                                        "properties": {
                                                            "field": {
                                                                "type": "string"
                                                            },
                                                            "fieldtype": {
                                                                "type": "string"
                                                            },
                                                            "from": {},
                                                            "fromString": {},
                                                            "to": {
                                                                "type": "string"
                                                            },
                                                            "toString": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "field",
                                                            "fieldtype",
                                                            "from",
                                                            "fromString",
                                                            "to",
                                                            "toString"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "issue": {
                                            "properties": {
                                                "fields": {
                                                    "properties": {
                                                        "aggregateprogress": {
                                                            "properties": {
                                                                "progress": {
                                                                    "type": "integer"
                                                                },
                                                                "total": {
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "aggregatetimeestimate": {},
                                                        "aggregatetimeoriginalestimate": {},
                                                        "aggregatetimespent": {},
                                                        "assignee": {
                                                            "properties": {
                                                                "active": {
                                                                    "type": "boolean"
                                                                },
                                                                "avatarUrls": {
                                                                    "properties": {
                                                                        "16x16": {
                                                                            "type": "string"
                                                                        },
                                                                        "24x24": {
                                                                            "type": "string"
                                                                        },
                                                                        "32x32": {
                                                                            "type": "string"
                                                                        },
                                                                        "48x48": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "displayName": {
                                                                    "type": "string"
                                                                },
                                                                "emailAddress": {
                                                                    "type": "string"
                                                                },
                                                                "key": {
                                                                    "type": "string"
                                                                },
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "self": {
                                                                    "type": "string"
                                                                },
                                                                "timeZone": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "attachment": {
                                                            "type": "array"
                                                        },
                                                        "comment": {
                                                            "properties": {
                                                                "comments": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "author": {
                                                                                "properties": {
                                                                                    "active": {
                                                                                        "type": "boolean"
                                                                                    },
                                                                                    "avatarUrls": {
                                                                                        "properties": {
                                                                                            "16x16": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "24x24": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "32x32": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "48x48": {
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "type": "object"
                                                                                    },
                                                                                    "displayName": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "emailAddress": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "key": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "name": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "self": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "timeZone": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "body": {
                                                                                "type": "string"
                                                                            },
                                                                            "created": {
                                                                                "type": "string"
                                                                            },
                                                                            "id": {
                                                                                "type": "string"
                                                                            },
                                                                            "self": {
                                                                                "type": "string"
                                                                            },
                                                                            "updateAuthor": {
                                                                                "properties": {
                                                                                    "active": {
                                                                                        "type": "boolean"
                                                                                    },
                                                                                    "avatarUrls": {
                                                                                        "properties": {
                                                                                            "16x16": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "24x24": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "32x32": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "48x48": {
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "type": "object"
                                                                                    },
                                                                                    "displayName": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "emailAddress": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "key": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "name": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "self": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "timeZone": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "updated": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "self",
                                                                            "id",
                                                                            "author",
                                                                            "body",
                                                                            "updateAuthor",
                                                                            "created",
                                                                            "updated"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "maxResults": {
                                                                    "type": "integer"
                                                                },
                                                                "startAt": {
                                                                    "type": "integer"
                                                                },
                                                                "total": {
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "components": {
                                                            "type": "array"
                                                        },
                                                        "created": {
                                                            "type": "string"
                                                        },
                                                        "creator": {
                                                            "properties": {
                                                                "active": {
                                                                    "type": "boolean"
                                                                },
                                                                "avatarUrls": {
                                                                    "properties": {
                                                                        "16x16": {
                                                                            "type": "string"
                                                                        },
                                                                        "24x24": {
                                                                            "type": "string"
                                                                        },
                                                                        "32x32": {
                                                                            "type": "string"
                                                                        },
                                                                        "48x48": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "displayName": {
                                                                    "type": "string"
                                                                },
                                                                "emailAddress": {
                                                                    "type": "string"
                                                                },
                                                                "key": {
                                                                    "type": "string"
                                                                },
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "self": {
                                                                    "type": "string"
                                                                },
                                                                "timeZone": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "customfield_10000": {
                                                            "type": "array"
                                                        },
                                                        "customfield_10001": {
                                                            "properties": {
                                                                "_links": {
                                                                    "properties": {
                                                                        "jiraRest": {
                                                                            "type": "string"
                                                                        },
                                                                        "self": {
                                                                            "type": "string"
                                                                        },
                                                                        "web": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "currentStatus": {
                                                                    "properties": {
                                                                        "status": {
                                                                            "type": "string"
                                                                        },
                                                                        "statusDate": {
                                                                            "properties": {
                                                                                "epochMillis": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "friendly": {
                                                                                    "type": "string"
                                                                                },
                                                                                "iso8601": {
                                                                                    "type": "string"
                                                                                },
                                                                                "jira": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "requestType": {
                                                                    "properties": {
                                                                        "_links": {
                                                                            "properties": {
                                                                                "self": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "description": {
                                                                            "type": "string"
                                                                        },
                                                                        "groupIds": {
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "helpText": {
                                                                            "type": "string"
                                                                        },
                                                                        "icon": {
                                                                            "properties": {
                                                                                "_links": {
                                                                                    "properties": {
                                                                                        "iconUrls": {
                                                                                            "properties": {
                                                                                                "16x16": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "24x24": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "32x32": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "48x48": {
                                                                                                    "type": "string"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                },
                                                                                "id": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "id": {
                                                                            "type": "string"
                                                                        },
                                                                        "name": {
                                                                            "type": "string"
                                                                        },
                                                                        "serviceDeskId": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "customfield_10002": {
                                                            "type": "array"
                                                        },
                                                        "customfield_10100": {},
                                                        "customfield_10101": {},
                                                        "customfield_10102": {},
                                                        "customfield_10103": {},
                                                        "customfield_10104": {},
                                                        "customfield_10105": {},
                                                        "customfield_10106": {},
                                                        "customfield_10107": {},
                                                        "customfield_10108": {},
                                                        "customfield_10109": {},
                                                        "customfield_10110": {},
                                                        "customfield_10111": {},
                                                        "customfield_10112": {},
                                                        "customfield_10113": {},
                                                        "customfield_10114": {},
                                                        "customfield_10115": {},
                                                        "customfield_10116": {},
                                                        "customfield_10117": {},
                                                        "customfield_10118": {},
                                                        "customfield_10119": {},
                                                        "customfield_10120": {
                                                            "properties": {
                                                                "_links": {
                                                                    "properties": {
                                                                        "self": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "completedCycles": {
                                                                    "type": "array"
                                                                },
                                                                "id": {
                                                                    "type": "string"
                                                                },
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "ongoingCycle": {
                                                                    "properties": {
                                                                        "breachTime": {
                                                                            "properties": {
                                                                                "epochMillis": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "friendly": {
                                                                                    "type": "string"
                                                                                },
                                                                                "iso8601": {
                                                                                    "type": "string"
                                                                                },
                                                                                "jira": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "breached": {
                                                                            "type": "boolean"
                                                                        },
                                                                        "elapsedTime": {
                                                                            "properties": {
                                                                                "friendly": {
                                                                                    "type": "string"
                                                                                },
                                                                                "millis": {
                                                                                    "type": "integer"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "goalDuration": {
                                                                            "properties": {
                                                                                "friendly": {
                                                                                    "type": "string"
                                                                                },
                                                                                "millis": {
                                                                                    "type": "integer"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "paused": {
                                                                            "type": "boolean"
                                                                        },
                                                                        "remainingTime": {
                                                                            "properties": {
                                                                                "friendly": {
                                                                                    "type": "string"
                                                                                },
                                                                                "millis": {
                                                                                    "type": "integer"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "startTime": {
                                                                            "properties": {
                                                                                "epochMillis": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "friendly": {
                                                                                    "type": "string"
                                                                                },
                                                                                "iso8601": {
                                                                                    "type": "string"
                                                                                },
                                                                                "jira": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "withinCalendarHours": {
                                                                            "type": "boolean"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "customfield_10121": {
                                                            "properties": {
                                                                "_links": {
                                                                    "properties": {
                                                                        "self": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "completedCycles": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "breached": {
                                                                                "type": "boolean"
                                                                            },
                                                                            "elapsedTime": {
                                                                                "properties": {
                                                                                    "friendly": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "millis": {
                                                                                        "type": "integer"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "goalDuration": {
                                                                                "properties": {
                                                                                    "friendly": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "millis": {
                                                                                        "type": "integer"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "remainingTime": {
                                                                                "properties": {
                                                                                    "friendly": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "millis": {
                                                                                        "type": "integer"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "startTime": {
                                                                                "properties": {
                                                                                    "epochMillis": {
                                                                                        "type": "integer"
                                                                                    },
                                                                                    "friendly": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "iso8601": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "jira": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "stopTime": {
                                                                                "properties": {
                                                                                    "epochMillis": {
                                                                                        "type": "integer"
                                                                                    },
                                                                                    "friendly": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "iso8601": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "jira": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "startTime",
                                                                            "stopTime",
                                                                            "breached",
                                                                            "goalDuration",
                                                                            "elapsedTime",
                                                                            "remainingTime"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "id": {
                                                                    "type": "string"
                                                                },
                                                                "name": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "customfield_10122": {
                                                            "properties": {
                                                                "_links": {
                                                                    "properties": {
                                                                        "self": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "completedCycles": {
                                                                    "type": "array"
                                                                },
                                                                "id": {
                                                                    "type": "string"
                                                                },
                                                                "name": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "customfield_10123": {
                                                            "properties": {
                                                                "_links": {
                                                                    "properties": {
                                                                        "self": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "completedCycles": {
                                                                    "type": "array"
                                                                },
                                                                "id": {
                                                                    "type": "string"
                                                                },
                                                                "name": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "customfield_10200": {},
                                                        "customfield_10201": {},
                                                        "customfield_10202": {},
                                                        "customfield_10203": {},
                                                        "customfield_10204": {},
                                                        "customfield_10302": {},
                                                        "customfield_10500": {},
                                                        "customfield_10501": {},
                                                        "customfield_10600": {},
                                                        "customfield_10601": {},
                                                        "customfield_10602": {},
                                                        "customfield_10700": {},
                                                        "customfield_10704": {},
                                                        "customfield_10705": {
                                                            "type": "string"
                                                        },
                                                        "customfield_10706": {
                                                            "type": "string"
                                                        },
                                                        "customfield_10707": {},
                                                        "customfield_10905": {},
                                                        "customfield_11000": {},
                                                        "customfield_11100": {},
                                                        "customfield_11200": {
                                                            "properties": {
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "self": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "customfield_11400": {},
                                                        "customfield_11401": {},
                                                        "customfield_11402": {},
                                                        "customfield_11403": {},
                                                        "customfield_11404": {},
                                                        "customfield_11500": {},
                                                        "customfield_11501": {
                                                            "type": "string"
                                                        },
                                                        "customfield_11502": {},
                                                        "customfield_11503": {},
                                                        "customfield_11504": {
                                                            "properties": {
                                                                "disabled": {
                                                                    "type": "boolean"
                                                                },
                                                                "id": {
                                                                    "type": "string"
                                                                },
                                                                "self": {
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "customfield_11505": {
                                                            "type": "string"
                                                        },
                                                        "customfield_11506": {
                                                            "items": {
                                                                "properties": {
                                                                    "disabled": {
                                                                        "type": "boolean"
                                                                    },
                                                                    "id": {
                                                                        "type": "string"
                                                                    },
                                                                    "self": {
                                                                        "type": "string"
                                                                    },
                                                                    "value": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "self",
                                                                    "value",
                                                                    "id",
                                                                    "disabled"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "customfield_11507": {
                                                            "type": "string"
                                                        },
                                                        "customfield_11508": {
                                                            "type": "string"
                                                        },
                                                        "customfield_11509": {
                                                            "type": "string"
                                                        },
                                                        "customfield_11510": {
                                                            "type": "string"
                                                        },
                                                        "customfield_11511": {
                                                            "type": "string"
                                                        },
                                                        "customfield_11512": {
                                                            "type": "string"
                                                        },
                                                        "customfield_11513": {
                                                            "type": "string"
                                                        },
                                                        "description": {
                                                            "type": "string"
                                                        },
                                                        "duedate": {},
                                                        "environment": {},
                                                        "fixVersions": {
                                                            "type": "array"
                                                        },
                                                        "issuelinks": {
                                                            "type": "array"
                                                        },
                                                        "issuetype": {
                                                            "properties": {
                                                                "avatarId": {
                                                                    "type": "integer"
                                                                },
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "iconUrl": {
                                                                    "type": "string"
                                                                },
                                                                "id": {
                                                                    "type": "string"
                                                                },
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "self": {
                                                                    "type": "string"
                                                                },
                                                                "subtask": {
                                                                    "type": "boolean"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "labels": {
                                                            "type": "array"
                                                        },
                                                        "lastViewed": {
                                                            "type": "string"
                                                        },
                                                        "priority": {
                                                            "properties": {
                                                                "iconUrl": {
                                                                    "type": "string"
                                                                },
                                                                "id": {
                                                                    "type": "string"
                                                                },
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "self": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "progress": {
                                                            "properties": {
                                                                "progress": {
                                                                    "type": "integer"
                                                                },
                                                                "total": {
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "project": {
                                                            "properties": {
                                                                "avatarUrls": {
                                                                    "properties": {
                                                                        "16x16": {
                                                                            "type": "string"
                                                                        },
                                                                        "24x24": {
                                                                            "type": "string"
                                                                        },
                                                                        "32x32": {
                                                                            "type": "string"
                                                                        },
                                                                        "48x48": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "id": {
                                                                    "type": "string"
                                                                },
                                                                "key": {
                                                                    "type": "string"
                                                                },
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "projectTypeKey": {
                                                                    "type": "string"
                                                                },
                                                                "self": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "reporter": {
                                                            "properties": {
                                                                "active": {
                                                                    "type": "boolean"
                                                                },
                                                                "avatarUrls": {
                                                                    "properties": {
                                                                        "16x16": {
                                                                            "type": "string"
                                                                        },
                                                                        "24x24": {
                                                                            "type": "string"
                                                                        },
                                                                        "32x32": {
                                                                            "type": "string"
                                                                        },
                                                                        "48x48": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "displayName": {
                                                                    "type": "string"
                                                                },
                                                                "emailAddress": {
                                                                    "type": "string"
                                                                },
                                                                "key": {
                                                                    "type": "string"
                                                                },
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "self": {
                                                                    "type": "string"
                                                                },
                                                                "timeZone": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "resolution": {},
                                                        "resolutiondate": {},
                                                        "status": {
                                                            "properties": {
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "iconUrl": {
                                                                    "type": "string"
                                                                },
                                                                "id": {
                                                                    "type": "string"
                                                                },
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "self": {
                                                                    "type": "string"
                                                                },
                                                                "statusCategory": {
                                                                    "properties": {
                                                                        "colorName": {
                                                                            "type": "string"
                                                                        },
                                                                        "id": {
                                                                            "type": "integer"
                                                                        },
                                                                        "key": {
                                                                            "type": "string"
                                                                        },
                                                                        "name": {
                                                                            "type": "string"
                                                                        },
                                                                        "self": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "subtasks": {
                                                            "type": "array"
                                                        },
                                                        "summary": {
                                                            "type": "string"
                                                        },
                                                        "timeestimate": {},
                                                        "timeoriginalestimate": {},
                                                        "timespent": {},
                                                        "timetracking": {
                                                            "properties": {},
                                                            "type": "object"
                                                        },
                                                        "updated": {
                                                            "type": "string"
                                                        },
                                                        "versions": {
                                                            "type": "array"
                                                        },
                                                        "votes": {
                                                            "properties": {
                                                                "hasVoted": {
                                                                    "type": "boolean"
                                                                },
                                                                "self": {
                                                                    "type": "string"
                                                                },
                                                                "votes": {
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "watches": {
                                                            "properties": {
                                                                "isWatching": {
                                                                    "type": "boolean"
                                                                },
                                                                "self": {
                                                                    "type": "string"
                                                                },
                                                                "watchCount": {
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "worklog": {
                                                            "properties": {
                                                                "maxResults": {
                                                                    "type": "integer"
                                                                },
                                                                "startAt": {
                                                                    "type": "integer"
                                                                },
                                                                "total": {
                                                                    "type": "integer"
                                                                },
                                                                "worklogs": {
                                                                    "type": "array"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "workratio": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "id": {
                                                    "type": "string"
                                                },
                                                "key": {
                                                    "type": "string"
                                                },
                                                "self": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "issue_event_type_name": {
                                            "type": "string"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "user": {
                                            "properties": {
                                                "active": {
                                                    "type": "boolean"
                                                },
                                                "avatarUrls": {
                                                    "properties": {
                                                        "16x16": {
                                                            "type": "string"
                                                        },
                                                        "24x24": {
                                                            "type": "string"
                                                        },
                                                        "32x32": {
                                                            "type": "string"
                                                        },
                                                        "48x48": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "displayName": {
                                                    "type": "string"
                                                },
                                                "emailAddress": {
                                                    "type": "string"
                                                },
                                                "key": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "self": {
                                                    "type": "string"
                                                },
                                                "timeZone": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "webhookEvent": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "kind": "Http",
                            "type": "Request"
                        }
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('SentinelConnectionName'))]",
                                "connectionName": "[variables('SentinelConnectionName')]",
                                "id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                            },
                            "keyvault": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureKeyVaultConnectionName'))]",
                                "connectionName": "[variables('AzureKeyVaultConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/keyvault')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}