Playbooks/Sync-IncidentsWithJIRA/Playbooks/Sync-Incidents.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Sync-Incidents",
            "type": "string"
        },
        "SecretName Jira" : {
            "type": "String",
            "metadata" : {
                "description" : "Name of the Key Vault Secret that contains the Jira Secret"
            }
        },
        "UserName Jira" : {
            "type": "String",
            "metadata" : {
                "description" : "Username for JIRA Authentication"
            }
        },
        "JIRA API URL" : {
            "type": "String",
            "metadata" : {
                "description" : "Organization specific URL for API (https://company.atlassian.net/rest/api/3/issue/)"
            }
        },
        "Tenant ID": {
            "type": "String",
            "metadata" : {
                "description" : "Tenant ID for used service principals"
            }
        },
        "Keyvault Name": {
            "type": "String",
            "metadata" : {
                "description" : "Name of the Key Vault which stores the client secrets"
            }
        },
        "ClientID KeyVault SP": {
            "type": "String",
            "metadata" : {
                "description" : "Client ID of the Key Vault Service Principal"
            }
        },
        "ClientSecret KeyVault SP": {
            "type": "String",
            "metadata" : {
                "description" : "Client Secret of the Key Vault Service Principal"
            }
        },
        "ClientID Sentinel SP": {
            "type": "String",
            "metadata" : {
                "description" : "Client ID of the Sentinel Service Principal"
            }
        },
        "ClientSecret Sentinel SP": {
            "type": "String",
            "metadata" : {
                "description" : "Client Secret of the Sentinel Service Principal"
            }
        }
    },
    "variables": {
        "AzureKeyVaultConnectionName" : "[concat('azurekeyvault-', parameters('PlaybookName'))]",
        "SentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureKeyVaultConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[variables('AzureKeyVaultConnectionName')]",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/keyvault')]"
                },
                "parameterValues":{
                    "vaultName": "[parameters('Keyvault Name')]",
                    "token:clientID" : "[parameters('ClientID KeyVault SP')]",
                    "token:clientSecret" : "[parameters('ClientSecret KeyVault SP')]",
                    "token:TenantID" : "[parameters('Tenant ID')]",
                    "token:grantType" : "client_credentials",
                    "token:resourceUri" : "https://vault.azure.net"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('SentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[variables('SentinelConnectionName')]",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                },
                "parameterValues":{
                    "token:clientID" : "[parameters('ClientID Sentinel SP')]",
                    "token:clientSecret" : "[parameters('ClientSecret Sentinel SP')]",
                    "token:TenantID" : "[parameters('Tenant ID')]",
                    "token:grantType" : "client_credentials",
                    "token:resourceUri" : "https://management.azure.com/"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AzureKeyVaultConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('SentinelConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "actions": {
                        "Add_To_TacticList_End": {
                            "inputs": {
                                "name": "TacticList",
                                "value": "]"
                            },
                            "runAfter": {
                                "Loop_Tactics": [
                                    "Succeeded"
                                ]
                            },
                            "type": "AppendToStringVariable"
                        },
                        "Add_comment_to_incident_(V3)": {
                            "inputs": {
                                "body": {
                                    "incidentArmId": "@{triggerBody()?['object']?['id']}",
                                    "message": "<p>@{split(body('Parse_JSON')?['_links']?['web'],'servicedesk')[0]}browse/@{body('Parse_JSON')?['issueKey']}</p>"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel_1']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Incidents/Comment"
                            },
                            "runAfter": {
                                "Condition_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection"
                        },
                        "Alert_-_Get_accounts": {
                            "inputs": {
                                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/entities/account"
                            },
                            "runAfter": {},
                            "type": "ApiConnection"
                        },
                        "Condition_2": {
                            "actions": {
                                "HTTP": {
                                    "inputs": {
                                        "authentication": {
                                            "password": "@body('Get_secret')?['value']",
                                            "type": "Basic",
                                            "username": "azuresentinelccx"
                                        },
                                        "body": {
                                            "body": "@{variables('alertData')}",
                                            "public": true
                                        },
                                        "method": "POST",
                                        "uri": "https://service.gen2security.net/rest/servicedeskapi/request/@{body('Parse_JSON')?['issueKey']}/comment"
                                    },
                                    "runAfter": {},
                                    "type": "Http"
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@greater(length(variables('alertData')), 0)",
                                            true
                                        ]
                                    }
                                ]
                            },
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "If"
                        },
                        "Condition_3": {
                            "actions": {
                                "Append_to_string_variable_2": {
                                    "inputs": {
                                        "name": "DescriptionVariable",
                                        "value": "@triggerBody()?['object']?['properties']?['description']"
                                    },
                                    "runAfter": {},
                                    "type": "AppendToStringVariable"
                                }
                            },
                            "else": {
                                "actions": {
                                    "For_each_2": {
                                        "actions": {
                                            "Append_to_string_variable_3": {
                                                "inputs": {
                                                    "name": "DescriptionVariable",
                                                    "value": "@items('For_each_2')?['properties']?['description']"
                                                },
                                                "runAfter": {},
                                                "type": "AppendToStringVariable"
                                            }
                                        },
                                        "foreach": "@triggerBody()?['object']?['properties']?['Alerts']",
                                        "runAfter": {},
                                        "type": "Foreach"
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@not(equals(triggerBody()?['object']?['properties']?['description'], null))",
                                            true
                                        ]
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_variable_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "If"
                        },
                        "Create TacticListDupVariableacticListDup": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "TacticListDup",
                                        "type": "string"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Create_TacticsVariable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Create_JIRAOrganizationID_Variable": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "JIRAOrganizationID",
                                        "type": "string",
                                        "value": "0"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Create_TenantName_Variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Create_JIRA_Ticket": {
                            "inputs": {
                                "authentication": {
                                    "password": "@body('Get_secret')?['value']",
                                    "type": "Basic",
                                    "username": "azuresentinelccx"
                                },
                                "body": {
                                    "requestFieldValues": {
                                        "customfield_11501": "@{triggerBody()?['object']?['name']}",
                                        "customfield_11504": {
                                            "value": "@{variables('TenantName')}"
                                        },
                                        "customfield_11505": "@formatDateTime(triggerBody()?['object']?['properties']?['createdTimeUtc'], 'yyyy-MM-ddThh:mm:ss.ff+0000')",
                                        "customfield_11506": "@json(variables('TacticList'))",
                                        "customfield_11507": "@{if(greater(length(variables('User List')), 0), variables('User List'), 'None')}",
                                        "customfield_11508": "@{triggerBody()?['workspaceInfo']?['SubscriptionId']}",
                                        "customfield_11509": "@{triggerBody()?['workspaceInfo']?['ResourceGroupName']}",
                                        "customfield_11510": "@{triggerBody()?['workspaceInfo']?['WorkspaceName']}",
                                        "customfield_11511": "@{triggerBody()?['workspaceId']}",
                                        "customfield_11512": "@{triggerBody()?['object']?['properties']?['incidentNumber']}",
                                        "customfield_11513": "@{triggerBody()?['object']?['id']}",
                                        "description": "@{variables('DescriptionVariable')}\n @{triggerBody()?['object']?['properties']?['incidentUrl']}",
                                        "summary": "@triggerBody()?['object']?['properties']?['title']"
                                    },
                                    "requestTypeId": "107",
                                    "serviceDeskId": "7"
                                },
                                "method": "POST",
                                "uri": "https://service.gen2security.net/rest/servicedeskapi/request"
                            },
                            "runAfter": {
                                "For_each": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http"
                        },
                        "Create_TacticsVariable": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "TacticList",
                                        "type": "string",
                                        "value": "["
                                    }
                                ]
                            },
                            "runAfter": {
                                "Condition_3": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Create_TenantName_Variable": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "TenantName",
                                        "type": "string",
                                        "value": "Gen2"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Get_secret": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Create_UserList_Variable": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "User List",
                                        "type": "string"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Add_To_TacticList_End": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "For_each": {
                            "actions": {
                                "Condition": {
                                    "actions": {
                                        "Append_to_string_variable": {
                                            "inputs": {
                                                "name": "alertData",
                                                "value": "@replace(replace(body('Html_to_text'), '\n', ''), '{newline}','\n')"
                                            },
                                            "runAfter": {
                                                "Html_to_text": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "AppendToStringVariable"
                                        },
                                        "Create_HTML_table": {
                                            "inputs": {
                                                "format": "HTML",
                                                "from": "@body('Run_query_and_list_results')?['value']"
                                            },
                                            "runAfter": {
                                                "Run_query_and_list_results": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Table"
                                        },
                                        "Html_to_text": {
                                            "inputs": {
                                                "body": "@replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(body('Create_HTML_table'), '|', '\\|'), '<table><thead>', ''), '</thead>', ''), '</tbody></table>', ''), '<tr>', ''), '</tr>', ' |{newline}'), '<td>', ' | '), '<th>', ' | '), '</td>', ''), '</th>', ''), '<tbody>', '')",
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['conversionservice']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/html2text"
                                            },
                                            "runAfter": {
                                                "Create_HTML_table": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection"
                                        },
                                        "Run_query_and_list_results": {
                                            "inputs": {
                                                "body": "@items('For_each')?['properties']?['additionalData']?['Query']",
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/queryData",
                                                "queries": {
                                                    "resourcegroups": "Sentinel",
                                                    "resourcename": "Sentinel",
                                                    "resourcetype": "Log Analytics Workspace",
                                                    "subscriptions": "68dd13e7-9472-4d8a-815b-3a87becba090",
                                                    "timerange": "Set in query"
                                                }
                                            },
                                            "runAfter": {},
                                            "type": "ApiConnection"
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@not(equals(items('For_each')?['properties']?['additionalData']?['Query'], null))",
                                                    true
                                                ]
                                            }
                                        ]
                                    },
                                    "runAfter": {},
                                    "type": "If"
                                }
                            },
                            "foreach": "@triggerBody()?['object']?['properties']?['Alerts']",
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Get_secret": {
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/secrets/@{encodeURIComponent('jirapassword')}/value"
                            },
                            "runAfter": {
                                "Loop_Users_Entity": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection"
                        },
                        "Initialize_variable": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "alertData",
                                        "type": "string"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Switch": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Initialize_variable_2": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "DescriptionVariable",
                                        "type": "string"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Parse_Account_Entity": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Loop_Tactics": {
                            "actions": {
                                "Add_To_TacticList": {
                                    "inputs": {
                                        "name": "TacticList",
                                        "value": "@{if(contains(variables('TacticListDup'),'value'),',','')}{\"value\":\"@{items('Loop_Tactics')}\"}"
                                    },
                                    "runAfter": {
                                        "Set_Variable_TacticListDup": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "AppendToStringVariable"
                                },
                                "Set_Variable_TacticListDup": {
                                    "inputs": {
                                        "name": "TacticListDup",
                                        "value": "@variables('TacticList')"
                                    },
                                    "runAfter": {},
                                    "type": "SetVariable"
                                }
                            },
                            "foreach": "@triggerBody()?['object']?['properties']?['additionalData']?['tactics']",
                            "runAfter": {
                                "Create TacticListDupVariableacticListDup": [
                                    "Succeeded"
                                ]
                            },
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "repetitions": 1
                                }
                            },
                            "type": "Foreach"
                        },
                        "Loop_Users_Entity": {
                            "actions": {
                                "Add_User_To_List": {
                                    "inputs": {
                                        "name": "User List",
                                        "value": "@{concat(items('Loop_Users_Entity')?['accountName'],'@',items('Loop_Users_Entity')?['UpnSuffix'])}\n"
                                    },
                                    "runAfter": {},
                                    "type": "AppendToStringVariable"
                                }
                            },
                            "foreach": "@body('Parse_Account_Entity')",
                            "runAfter": {
                                "Create_UserList_Variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Parse_Account_Entity": {
                            "inputs": {
                                "content": "@body('Alert_-_Get_accounts')?['Accounts']",
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "Name": {},
                                            "Type": {},
                                            "aadTenant ID": {},
                                            "aadUserId": {},
                                            "accountName": {
                                                "type": "string"
                                            },
                                            "additionalData": {
                                                "properties": {
                                                    "AdditionalMailAddresses": {},
                                                    "IsDeleted": {},
                                                    "IsEnabled": {},
                                                    "Sources": {},
                                                    "SyncFromAad": {},
                                                    "UpnName": {}
                                                },
                                                "type": "object"
                                            },
                                            "displayName": {},
                                            "dnsDomain": {},
                                            "friendlyName": {},
                                            "isDomainJoined": {},
                                            "sid": {},
                                            "upnSuffix": {}
                                        },
                                        "required": [],
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            },
                            "runAfter": {
                                "Alert_-_Get_accounts": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson"
                        },
                        "Parse_JSON": {
                            "inputs": {
                                "content": "@body('Create_JIRA_Ticket')",
                                "schema": {
                                    "properties": {
                                        "content": {
                                            "properties": {
                                                "_expands": {
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "_links": {
                                                    "properties": {
                                                        "self": {
                                                            "type": "string"
                                                        },
                                                        "web": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "createdDate": {
                                                    "properties": {
                                                        "epochMillis": {
                                                            "type": "integer"
                                                        },
                                                        "friendly": {
                                                            "type": "string"
                                                        },
                                                        "iso8601": {
                                                            "type": "string"
                                                        },
                                                        "jira": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "currentStatus": {
                                                    "properties": {
                                                        "status": {
                                                            "type": "string"
                                                        },
                                                        "statusDate": {
                                                            "properties": {
                                                                "epochMillis": {
                                                                    "type": "integer"
                                                                },
                                                                "friendly": {
                                                                    "type": "string"
                                                                },
                                                                "iso8601": {
                                                                    "type": "string"
                                                                },
                                                                "jira": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "issueId": {
                                                    "type": "string"
                                                },
                                                "issueKey": {
                                                    "type": "string"
                                                },
                                                "reporter": {
                                                    "properties": {
                                                        "_links": {
                                                            "properties": {
                                                                "avatarUrls": {
                                                                    "properties": {
                                                                        "16x16": {
                                                                            "type": "string"
                                                                        },
                                                                        "24x24": {
                                                                            "type": "string"
                                                                        },
                                                                        "32x32": {
                                                                            "type": "string"
                                                                        },
                                                                        "48x48": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "jiraRest": {
                                                                    "type": "string"
                                                                },
                                                                "self": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "active": {
                                                            "type": "boolean"
                                                        },
                                                        "displayName": {
                                                            "type": "string"
                                                        },
                                                        "emailAddress": {
                                                            "type": "string"
                                                        },
                                                        "key": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "timeZone": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "requestFieldValues": {
                                                    "items": {
                                                        "properties": {
                                                            "fieldId": {
                                                                "type": "string"
                                                            },
                                                            "label": {
                                                                "type": "string"
                                                            },
                                                            "renderedValue": {
                                                                "type": "array"
                                                            },
                                                            "value": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "fieldId",
                                                            "label"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "requestTypeId": {
                                                    "type": "string"
                                                },
                                                "serviceDeskId": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "schema": {
                                            "properties": {
                                                "properties": {
                                                    "properties": {
                                                        "_expands": {
                                                            "properties": {
                                                                "items": {
                                                                    "properties": {
                                                                        "type": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "_links": {
                                                            "properties": {
                                                                "properties": {
                                                                    "properties": {
                                                                        "self": {
                                                                            "properties": {
                                                                                "type": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "web": {
                                                                            "properties": {
                                                                                "type": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "createdDate": {
                                                            "properties": {
                                                                "properties": {
                                                                    "properties": {
                                                                        "epochMillis": {
                                                                            "properties": {
                                                                                "type": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "friendly": {
                                                                            "properties": {
                                                                                "type": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "iso8601": {
                                                                            "properties": {
                                                                                "type": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "jira": {
                                                                            "properties": {
                                                                                "type": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "currentStatus": {
                                                            "properties": {
                                                                "properties": {
                                                                    "properties": {
                                                                        "status": {
                                                                            "properties": {
                                                                                "type": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "statusDate": {
                                                                            "properties": {
                                                                                "properties": {
                                                                                    "properties": {
                                                                                        "epochMillis": {
                                                                                            "properties": {
                                                                                                "type": {
                                                                                                    "type": "string"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        },
                                                                                        "friendly": {
                                                                                            "properties": {
                                                                                                "type": {
                                                                                                    "type": "string"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        },
                                                                                        "iso8601": {
                                                                                            "properties": {
                                                                                                "type": {
                                                                                                    "type": "string"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        },
                                                                                        "jira": {
                                                                                            "properties": {
                                                                                                "type": {
                                                                                                    "type": "string"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                },
                                                                                "type": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "issueId": {
                                                            "properties": {
                                                                "type": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "issueKey": {
                                                            "properties": {
                                                                "type": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "reporter": {
                                                            "properties": {
                                                                "properties": {
                                                                    "properties": {
                                                                        "_links": {
                                                                            "properties": {
                                                                                "properties": {
                                                                                    "properties": {
                                                                                        "avatarUrls": {
                                                                                            "properties": {
                                                                                                "properties": {
                                                                                                    "properties": {
                                                                                                        "16x16": {
                                                                                                            "properties": {
                                                                                                                "type": {
                                                                                                                    "type": "string"
                                                                                                                }
                                                                                                            },
                                                                                                            "type": "object"
                                                                                                        },
                                                                                                        "24x24": {
                                                                                                            "properties": {
                                                                                                                "type": {
                                                                                                                    "type": "string"
                                                                                                                }
                                                                                                            },
                                                                                                            "type": "object"
                                                                                                        },
                                                                                                        "32x32": {
                                                                                                            "properties": {
                                                                                                                "type": {
                                                                                                                    "type": "string"
                                                                                                                }
                                                                                                            },
                                                                                                            "type": "object"
                                                                                                        },
                                                                                                        "48x48": {
                                                                                                            "properties": {
                                                                                                                "type": {
                                                                                                                    "type": "string"
                                                                                                                }
                                                                                                            },
                                                                                                            "type": "object"
                                                                                                        }
                                                                                                    },
                                                                                                    "type": "object"
                                                                                                },
                                                                                                "type": {
                                                                                                    "type": "string"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        },
                                                                                        "jiraRest": {
                                                                                            "properties": {
                                                                                                "type": {
                                                                                                    "type": "string"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        },
                                                                                        "self": {
                                                                                            "properties": {
                                                                                                "type": {
                                                                                                    "type": "string"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                },
                                                                                "type": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "active": {
                                                                            "properties": {
                                                                                "type": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "displayName": {
                                                                            "properties": {
                                                                                "type": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "emailAddress": {
                                                                            "properties": {
                                                                                "type": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "key": {
                                                                            "properties": {
                                                                                "type": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "name": {
                                                                            "properties": {
                                                                                "type": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "timeZone": {
                                                                            "properties": {
                                                                                "type": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "requestFieldValues": {
                                                            "properties": {
                                                                "items": {
                                                                    "properties": {
                                                                        "properties": {
                                                                            "properties": {
                                                                                "fieldId": {
                                                                                    "properties": {
                                                                                        "type": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                },
                                                                                "label": {
                                                                                    "properties": {
                                                                                        "type": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                },
                                                                                "renderedValue": {
                                                                                    "properties": {
                                                                                        "type": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                },
                                                                                "value": {
                                                                                    "properties": {
                                                                                        "type": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "required": {
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "type": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "requestTypeId": {
                                                            "properties": {
                                                                "type": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "serviceDeskId": {
                                                            "properties": {
                                                                "type": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "runAfter": {
                                "Create_JIRA_Ticket": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson"
                        },
                        "Switch": {
                            "cases": {
                                "Case": {
                                    "actions": {
                                        "Set_JIRAOrganizationID_Variable_1": {
                                            "inputs": {
                                                "name": "JIRAOrganizationID",
                                                "value": "7"
                                            },
                                            "runAfter": {
                                                "Set_TenantName_Variable_1": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "SetVariable"
                                        },
                                        "Set_TenantName_Variable_1": {
                                            "inputs": {
                                                "name": "TenantName",
                                                "value": "Tenant Name Customer 1"
                                            },
                                            "runAfter": {},
                                            "type": "SetVariable"
                                        }
                                    },
                                    "case": "SubscriptionID Customer 1"
                                }
                            },
                            "default": {
                                "actions": {}
                            },
                            "expression": "@triggerBody()?['workspaceInfo']?['SubscriptionId']",
                            "runAfter": {
                                "Create_JIRAOrganizationID_Variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Switch"
                        }
                    },
                    "contentVersion": "1.0.0.0",
                    "outputs": {},
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_Azure_Sentinel_incident_creation_rule_was_triggered": {
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/incident-creation"
                            },
                            "type": "ApiConnectionWebhook"
                        }
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('SentinelConnectionName'))]",
                                "connectionName": "[variables('SentinelConnectionName')]",
                                "id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                            },
                            "keyvault": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureKeyVaultConnectionName'))]",
                                "connectionName": "[variables('AzureKeyVaultConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/keyvault')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}